[2020-02-21 14:13] aashimgarg opened #15 "There is no space between the footer tag and ending of the page."
When the footer tag ends there is no space between the footer tag and the ending of the page.
By fixing this issue the website will look more good.

[2020-02-21 16:05] jhung commented on #15
@aashimgarg, you can fork the repository to your own account and do your work within a branch.

When you are ready, please submit a pull request to this repository so it can be reviewed.

[2020-02-21 16:07] aashimgarg commented on #15
Ok @jhung!

[2020-02-21 16:07] jhung opened #16 "Create issue and enhancement github issue templates"
Create issue and enhancement github issue templates to make it easier for collaborators to file tickets.

[2020-02-21 16:27] aashimgarg opened #18 "Various git commands for contributing are missing from readme."
Various commands like git checkout , git status and many other commands are missing from the readme which are used to create a pull request and how to update your forked branch using terminal.

[2020-02-21 16:28] aashimgarg commented on #18
@jhung is this required?

[2020-02-24 00:31] karanb1 opened #19 "CSS auto focus bug on buttons."
Button remains focussed and do not cover the entire button (click on show preview button).

[2020-02-24 00:45] #19 closed

[2020-02-24 12:10] sachin10101998 commented on #18
@aashimgarg ReadMe file for a project concisely introduces and explains a project. Basics of Git and git commands shouldn't really be a part of it.

[2020-02-24 15:17] #16 closed

[2020-02-26 14:05] aashimgarg opened #21 "Add the uglify plugin in the gruntfile.js"
This plugin is not present in the gruntfile .
This plugin is very much important as it helps to minify or uglify all the javascript code, removing all the blank spaces so that when we request it from the server it takes much less time to compile.And i think that it is very much useful.

[2020-02-26 14:06] aashimgarg commented on #21
Hey @jhung @jobara should i work on this?

[2020-02-26 14:38] jobara commented on #21
I'm not sure how much it would help here in that there isn't much custom JS code. It would be easier to use the minified version of Infusion, and if we switch to that we should also just use a UIO build which will remove some unneeded code form Infusion.

[2020-02-26 17:20] aashimgarg opened #22 "The upper line of the link collides with the fluid community icons."
## Describe the bug
When we click the fluid community icons , the upper line of the rectangle enclosing the link collides with the icons.
### To reproduce
Steps to reproduce the behavior:
1. Go to https://fluidproject.org/
2. Click on Fluid community web icon
3. See error

### Expected behavior
The upper line of the rectangle enclosing the link should not collide with fluid community web icon

##

[2020-02-26 18:16] aashimgarg opened #23 "The space is left behind when the hide button slides down."
## Describe the bug
When we resize the window by decreasing its windows width to its minimum the hide button slides down leaving the area as it was before
### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://fluidproject.org/'
2. Resize the window width to minimum.
3. See error

### Expected behavior
The hide button should go down with no space leaving behind.

## Screenshots
If app

[2020-02-26 18:48] aashimgarg commented on #21
Ok. I got it.
We can add sass plugin as the fluidproject.org contains a lot of CSS . Sass files compile into well-formatted, standard CSS to use in your site or application.
@jobara ?

[2020-02-26 18:48] aashimgarg commented on #22
@jobara should i work on this?

[2020-02-26 18:50] jobara commented on #21
This sounds like a different issue than what was originally proposed, and probably doesn't fit in the current discussion. Additionally it's something that might make sense to consider as part of the project when the site is being redeveloped, but it isn't yet clear what the styling requirements will be.

[2020-02-26 18:57] aashimgarg commented on #21
Ok i will make it as a new issue!

[2020-02-26 19:01] aashimgarg opened #24 "Add the SASS plugin in the gruntfile.js"
Adding the sass plugin in gruntfile.js . This could be very helpful as the fluidproject.org contains a lot of css in it.
Sass files compile into well-formatted, standard CSS to use in your site or application.It adds nested rules, functions, selector inheritance, and more to CSS.

[2020-02-26 19:01] aashimgarg commented on #24
@jobara .
Should i work on this?

[2020-02-27 08:36] sachin10101998 commented on #23
You can also use the 'Toggle Device toolbar' provided with Chrome DevTools to simulate mobile devices. You should check [this out](https://developers.google.com/web/tools/chrome-devtools/device-mode).

[2020-02-27 09:13] sachin10101998 commented on #21
If 'taking less time to compile' is the major factor behind uglifying JS, I'd rather recommend minifying it. Minifying code speeds up page loading and it is also readable. Major browsers minify the code before execution anyway. Some libraries like UglifyJS does minification when used, by removing unnecessary parts. But in general, Uglifying is making the code unreadable.
Moreover, minifying can be

[2020-02-27 12:48] jobara commented on #22
@aashimgarg regarding your steps to reproduce, I believe step 2 is about placing keyboard focus on the link. When I click it just transitions the page and doesn't show the focus styling at at all.

Do you have any thoughts on what might be causing this issue?

[2020-02-27 12:50] jobara commented on #21
This has been filed as https://github.com/fluid-project/fluidproject.org/issues/24

[2020-02-27 12:51] jobara commented on #21
@sachin10101998 usually these tools also generate a source map; which the browser can use to render a human readable form of the code in the debugger.

[2020-02-27 13:00] jobara commented on #24
@aashimgarg as I mentioned in the [comment](https://github.com/fluid-project/fluidproject.org/issues/21#issuecomment-591582787) converting to SASS at this point is pre-mature. We will need to consider what, if any, styling changes will be made to the site as part of this project first. Also it already is using [Stylus](https://stylus-lang.com), so there would need to be a reason to switch to a dif

[2020-02-27 13:30] jobara commented on #23
When the site is updated with the latest version of Infusion, and UI Options (the tool you are describing now), it will switch to a mobile/small screen layout. Please see the [UI Options demo](https://build.fluidproject.org/infusion/demos/uiOptions/) for an example. In short, this issue should be addressed by updating to recent dev release of Infusion, or to a new stable version if Infusion 3.0 ha

[2020-02-27 13:50] sachin10101998 commented on #23
@jobara , Is [UI Options demo](https://build.fluidproject.org/infusion/demos/uiOptions/) using the latest version of infusion?

[2020-02-27 13:51] jobara commented on #23
@sachin10101998 it should be built from the latest code from the master branch.

[2020-02-27 14:06] sachin10101998 commented on #23
@jobara, @jhung, I had a doubt regarding the span of values that different UI options are providing for line spacing. In the [UI Options Demo ](https://build.fluidproject.org/infusion/demos/uiOptions/)and [floe project website](https://floeproject.org/), the line spacing values from 0.7 to 1 cause the list of elements in the table of contents to overlap ( issue described in fluid-project/floeproje

[2020-02-27 14:20] aashimgarg commented on #23
@sachin10101998 this issue does not relate to any sort of line spacing.

[2020-02-27 14:28] aashimgarg commented on #22
@jobara may be the text is placed just below the icon .They should be some space below the icon so that the upper line of the rectangle should not collide with it.
Should i work on this?

[2020-02-27 14:29] jobara commented on #23
@sachin10101998 did you mean to comment on a different issue?

[2020-02-27 16:06] sachin10101998 commented on #23
Yeah, I tagged [the issue I was referring to](https://github.com/fluid-project/floeproject.org/issues/110). I raised the topic here since you mentioned UI Options Demo, which has a similar problem as that issue I was referring to.
I'd make a copy of my comment above under the appropriate issue too.

[2020-02-28 21:29] neetigyachahar opened #26 "Adding viewport for responsive design of the site."
## Is your feature request related to a problem?
The site is not adapted for small/mobile view as the viewport meta tag seems to be absent.
The font size is not relative to the screen appears to small at various places. Specially footer.
This is not with regard to Infusion as per the explanation https://github.com/fluid-project/fluidproject.org/issues/23#issuecomment-591971450

## Describe the sol

[2020-02-28 21:42] aashimgarg opened #27 "The slider gets covered by the two lines of the input field."
## Describe the bug
When we click the slider , the slider gets covered by the input field lines rather it should have more z index so that it should not be covered by the input field lines.
### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://fluidproject.org/'
2. Go to  Adjust text size.
3. Observe the changes.

### Expected behavior
The slider should have more z-index so that the

[2020-02-28 21:54] neetigyachahar commented on #27
As @jobara mentioned in https://github.com/fluid-project/fluidproject.org/issues/23#issuecomment-591971450, this issue is part of the Infusion project. Moreover, range sliders have been removed in the latest version of the Infusion.

[2020-02-29 14:00] Chaitanyassr opened #28 "The background picture of featured work get disappeared."
The background picture of featured work get disappeared when color and contrast is change from the initial value.
page link - https://fluidproject.org/
### To reproduce
Steps to reproduce the behavior:
1. Click on show display preferences
2. change the color and contrast

## Screenshots
![Screenshot (167)](https://user-images.githubusercontent.com/30374226/75608918-dbf0ce80-5b29-11ea-9037-63a4e42b

[2020-03-01 15:41] Chaitanyassr opened #29 "The image at (https://fluidproject.org/projects.html) featured demos get disappeared when color and contrast in changed."
The image at (https://fluidproject.org/projects.html) featured demos get disappeared when color and contrast in changed.

### To reproduce
Steps to reproduce the behavior:
1. Go to https://fluidproject.org/projects.html by clicking on project on the main site.
2. Click on preference
3. change the color and contrast.
4. See error

## Screenshots
![Screenshot (169)](https://user-images.githubusercon

[2020-03-01 18:17] aashimgarg opened #30 "Adding the social media icons in the footer."
## Is your feature request related to a problem?
No this issue is not related to any problem. But by this issue the user can easily come to know more about the floeproject.org and can contribute to it too.
## Describe the solution you'd like
We can add three icons or even more :-
1. Twitter icon :- This will help the user to read the tweets of the the organization.
2. Github icon :- This will help

[2020-03-01 18:28] aashimgarg opened #31 "Preference Exploration Tool Demo does not contain anything."
## Describe the bug
When clicking on the Peference Exploration Tool Demo the link that is opening in the new tab it opens with a page that says error 404 page not found.

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://fluidproject.org/'
2. Click on 'View all projects '
3. Click on "Preference Exploration Tool Demo"
4. See error

### Expected behavior
The link should redirect t

[2020-03-01 18:45] aashimgarg opened #32 "The links in the footer collide with the text."
## Describe the bug
The links in the footer collide with the text when we click on the links.

### To reproduce
Steps to reproduce the behavior:
1. Go to 'fluidproject.org'
2. Click on links present in the left side of the footer.
3. See error

### Expected behavior
The links should not collide when clicked.

## Screenshots
![Screenshot from 2020-03-02 00-04-13](https://user-images.githubuserconte

[2020-03-02 01:44] sachin10101998 opened #33 ""UI Options" of navigation bar splits into UI and Options in mobile devices."
## Describe the bug
"UI Options" of navigation bar splits into UI and Options in mobile devices making it look like News Options.

### To reproduce
Steps to reproduce the behavior:
1. Go to floeproject.org on iPhone 5/SE
2. See error

## Screenshots
![Screenshot from 2020-03-02 07-08-17](https://user-images.githubusercontent.com/34926285/75639027-ce843300-5c54-11ea-9dd7-2513ea2b741e.png)

### Expe

[2020-03-02 02:10] sachin10101998 commented on #33
Issue made in the wrong repo. Closing it.

[2020-03-02 02:10] #33 closed

[2020-03-02 05:32] sachin10101998 commented on #31
Already resolved in #14.

[2020-03-02 11:25] abhinandansharma commented on #31
That PR is merged. If its already resolved then why am I still getting the 404 page.

[2020-03-02 12:27] sachin10101998 commented on #31
@abhinandansharma Needs `docpad run` on the server to build or update the 'out' folder.

[2020-03-02 13:27] aashimgarg commented on #23
@jobara should i close this issue or should i send a PR for this?

[2020-03-02 18:44] jobara commented on #26
There may be more to consider than just the meta tag for having the site working with mobile devices. How is the layout affected when the meta tag is present and viewed in a small window or mobile device?

[2020-03-03 13:10] neetigyachahar commented on #26
I have reviewed most of the pages after adding the tag and it seems mostly we need to adjust side margins and font size a bit in the mobile view.
for example:
![image](https://user-images.githubusercontent.com/42602123/75778439-cd025a00-5d7d-11ea-9397-efd3c028e6a4.png)

Margins shrink the elements too much in the middle according to me.
We don't need to deal with UI options. The update will set it

[2020-03-03 13:14] #22 closed

[2020-03-03 13:17] jobara commented on #29
These images are likely supplied as background images. UIO contrast options remove backgrounds images by default. Do we want to have keep these background images, remove them, keep them but change their colours, something else?

[2020-03-03 13:17] aashimgarg commented on #30
@jobara should i work on this?

[2020-03-03 13:21] aashimgarg commented on #27
@jobara should i work on this

[2020-03-03 13:37] jobara commented on #31
@sachin10101998 and @abhinandansharma, that's correct, the site needs to be redeployed.

[2020-03-03 13:37] #31 closed

[2020-03-03 14:07] neetigyachahar commented on #32
Well, I researched a bit and it seems that its practically impossible to change shape of outline. As in our case we want to decrease the height but maintaining the width. The  ```outline-offset```  also reduces the width hence now outline overlays with inner text.
Best solution could be to use borders for focusing.
Your views?

[2020-03-03 14:59] jobara commented on #23
Maybe you can do some preliminary investigation into how much work it would be to update to the latest dev release of Infusion from NPM.

[2020-03-03 15:14] jobara commented on #26
@neetigyachahar have you also experimented with applying adjustments from UI Options and how they impact the responsive presentation?

[2020-03-03 15:18] jobara commented on #27
Here is a [demo](https://build.fluidproject.org/infusion/demos/textfieldControl/) of the textfield controls in the latest infusion. I think this is another issue that should be addressed by updating to the latest dev release or latest stable (after Infusion 3.0 is released). You can investigate how much work it is to do at this point, but it may be better suited to update with the full site update

[2020-03-03 15:19] jobara commented on #32
@neetigyachahar what was the need for changing the shape of the outline, or maybe I'm not understanding exactly what you mean by that.

[2020-03-03 17:16] Chaitanyassr commented on #29
We can keep those images or we can also do something like github do for pinned repo, something very similer to this. chainging the color should not be an option as it would disrupt the look and feel.
![Screenshot (171)](https://user-images.githubusercontent.com/30374226/75801224-c76a3b80-5da0-11ea-9aa1-ca401d1afb50.png)

[2020-03-03 17:57] jobara commented on #29
@Chaitanyassr can you explain in more detail the suggestion that is similar to pinned repos on GitHub?

[2020-03-03 20:11] aashimgarg commented on #27
Ok @jobara

[2020-03-03 20:27] aashimgarg opened #34 "CSSMin plugin for grunt."
CSSMin plugin for grunt will be very useful for the code as this repository contains a lot of css content in it.
This plugin is the CSS equivalent of Uglify. It simply gets any specified CSS files and minifies them.

[2020-03-03 20:28] aashimgarg commented on #34
@jobara should i work on this?

[2020-03-03 20:35] jobara commented on #34
It looks like the CSS is being generated from stylus, so it would probably be configuring stylus to minify. However, it's likely that many things will change for this site related to this project and work on this issue may not be relevant then.

[2020-03-03 20:48] aashimgarg commented on #34
ok @jobara.

[2020-03-03 20:48] #34 closed

[2020-03-03 21:43] aashimgarg commented on #32
@jobara actually the borders are colliding with the text when we clink the links.

[2020-03-03 21:48] aashimgarg commented on #32
@jobara The outline-offset property adds space between an outline and the edge or border of an element. It does not change the shape of the outline.

[2020-03-03 22:44] sachin10101998 commented on #23
@jobara, isn't 2.0 latest dev release version of Infusion?

[2020-03-03 23:51] sachin10101998 commented on #29
@jobara it's better if we keep these images even when contrast or theme is changed. Colour and Contrast options menu states that it is used to change text and background color. It's supposed to remove background colors and not images.

[2020-03-03 23:52] sachin10101998 commented on #29
This issue is similar to #28

[2020-03-04 00:53] sachin10101998 commented on #32
@neetigyachahar why do we have to change the outline-offset property for solving this?

Don't we intend to decrease the thickness of the outline because the outline is overlapping with text.
Here's a screenshot with reduced outline thickness:
 ![Screenshot from 2020-03-04 06-17-45](https://user-images.githubusercontent.com/34926285/75833941-90b41580-5de0-11ea-82db-d6dc5278a05d.png)
I think this ap

[2020-03-04 01:14] sachin10101998 opened #36 "API call to fonts.googleapi blocked due to http connection"
## Describe the bug
The page at 'https://fluidproject.org/' was loaded over HTTPS, but requested an insecure stylesheet 'http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100'. This request was blocked since the content must be served over HTTPS.

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://fluidproject.org/'
2. Right-click and Click on Inspect.
3. Go to Consol

[2020-03-04 04:34] Chaitanyassr commented on #29
As we can see in pinned section of github overview, repos(those we pinned) are organized inside the boxes. Its look quite aesthetic. We can do this for the featured demos(https://fluidproject.org/projects.html) were featured demos would be inside the same type of boxes.this would solve issue #28 #29.

[2020-03-04 04:49] sachin10101998 commented on #29
@Chaitanyassr The background images disappear on changing themes because the background property explicitly sets the background to none. It's not because they are not inside the same types of boxes.

Can you elaborate on how putting those featured demos inside the same types of boxes will solve #28 and @29?

[2020-03-04 12:38] jobara commented on #23
@sachin10101998 2.0 is the latest stable release. There have been many 3.0 dev releases. If you go to https://www.npmjs.com/package/infusion and go to the "versions" tab you can see a list. You can also see this by running `npm show infusion versions` from the command line. The latest dev release made from master is https://www.npmjs.com/package/infusion/v/3.0.0-dev.20200213T130945Z.c3c22dc4c

[2020-03-04 14:53] Chaitanyassr commented on #29
true, i totally agreed with the fact that background image can be kept. as @jobara asked of what we can do other that, so we can make a featured demo pannel like the one used for github pinned repo. Its not about the issue, its about replacing the whole featured demo thing while keeping #28 and #29 in mind.

[2020-03-04 15:54] aashimgarg commented on #23
Ok @jobara .

[2020-03-04 16:02] neetigyachahar commented on #32
@jobara By changing shape I mean we need to keep the width of the outline same but decrease the height.

@sachin10101998 I tried that with the lower link and the overlap is still there (with 'g' here). Check this:
![image](https://user-images.githubusercontent.com/42602123/75890698-bbd84c80-5e54-11ea-9905-8a94280cb199.png)

I was able to create a **quick fix** using padding, margin and outline-off

[2020-03-04 16:12] sachin10101998 commented on #29
@Chaitanyassr Correct me if I'm wrong but are you saying we remove the background images from default contrast theme too?

[2020-03-04 16:16] aashimgarg commented on #32
Yes @neetigyachahar by changing he width of the outline we can change it but the g will collide with the outline.

[2020-03-04 16:43] aashimgarg commented on #32
@jobara we cannot change the style as in the code the styles are the gitignore files.

[2020-03-04 17:13] sachin10101998 commented on #32
@neetigyachahar I use Ubuntu 18.04 with the latest chrome and the overlapping isn't as distinct as it is on your platform.
I didn't get how changing line-height to initial will solve this since we are not assigning any explicit line-height value to the p tag. Both inherited and initial values are 1.2em by default for the lowest line spacing set in the preferences column. Can you specify your platf

[2020-03-04 17:31] aashimgarg commented on #32
Yes we can change the styles in the local server but we cannot push the commits.

[2020-03-04 17:43] sachin10101998 commented on #32
@aashimgarg why can't you push those commits?

[2020-03-05 03:45] Batey96 opened #38 "Poor UI for the navigation links on Mobile view"
## Is your feature request related to a problem?
Viewing https://fluidproject.org/index.html on mobile device renders text contents of nav links very small.This leads to low accessibility and poor UI.

## Describe the solution you'd like
The Nav links should collapse into something like hamburger menu.I think with a collapsible menu,the nav links can easily be viewed and accessed.

## Describe alt

[2020-03-05 03:46] Batey96 commented on #38
@jhung  wish to work on this,eventhough soon website will be migrated to another engine.Can i be assigned this?

[2020-03-05 12:31] jobara commented on #36
Has also been filed as https://issues.fluidproject.org/browse/FLUID-6462

[2020-03-05 12:40] jobara commented on #32
@neetigyachahar when you illustrate code/markup/styling changes, please write them in text and place them in a properly formatted code block using markdown. It will be easier to read and make use of later. Also it will help those that can't view your images to know the suggested change.

[2020-03-05 12:45] jobara commented on #32
Trying to summarize things so far. The outline is overlapping the text above and below, potentially due to line-height and outline thickness. Although this is less prevalent on different platforms/browsers? Did I get that all correctly?

[2020-03-05 12:48] aashimgarg commented on #32
yes @jobara the outline thickness is colliding with the text.

[2020-03-05 15:01] sachin10101998 commented on #36
@jobara @jhung should #37 be merged? The error messages in the console go away on making changes suggested in #37.

[2020-03-07 11:01] neetigyachahar commented on #32
@sachin10101998 I would suggest you to try selecting the text in footer and compare if you have an overlap like that of mine.
![image](https://user-images.githubusercontent.com/42602123/76142163-02b28600-6091-11ea-90b7-b2be8e80fc71.png)
Because this could be the underlying issue creating the outline overlap with other text.
My OS is **Zorin OS 15.1** which is just UI modification of **Ubuntu Bioni

[2020-03-08 11:35] Ayush23Dash opened #39 "Is github code latest?"
## Describe the bug
I had started working on the fluid project and wanted to simply extract every file(that are html,css, js files) and then convert them into my own custom made website(completely identical to the original fluid website) and then migrate it to Hugo.
While trying to understand the code,I made a local folder and started recreating the project but the index.html file in the fluid rep

[2020-03-09 07:08] Ayush23Dash commented on #39
@jobara  @jhung  please help!

[2020-03-09 13:33] jobara commented on #39
@Ayush23Dash could you please explain more about how you extracted the files? The fluid project website is built using docpad, so you would need to run any of it's files through the docpad generation. It could be that parts are missing because of that. The floe project site does not currently use any CMS or Static Site Generator.

[2020-03-09 13:39] jobara commented on #39
@Ayush23Dash thanks for providing the example. We'd have to consider the design. However, with the site potentially changing with the proposed GSoC project. This may be something that should be re-evaluated with that process. @jhung thoughts?

[2020-03-09 14:25] Ayush23Dash commented on #39
@jobara i have literally extracted code from the index.html file and other files and now i am working on a completely new version of the website using nodejs(obviously the code's skeleton structure is copied from the floe repo) and after getting that done i will be migrating to hugo.
And yes today I will be working on the Floe website by trying to understand the code structure (i feel that is easy

[2020-03-09 14:36] jobara commented on #39
@Ayush23Dash I'll start by answering the question from the issue title. Yes, what's in master is the latest. However, the site might be behind a bit. I believe we have to deploy a change or two, but they are small.

Could you please explain your process for extracting? I'm still not sure what you did. Did you just copy and past what was in the HTML file from the rendered fluidproject.org site? Als

[2020-03-09 14:36] #39 closed

[2020-03-10 13:19] #36 closed

[2020-03-15 11:33] johntharian commented on #15
Is it okay if i solve this issue?

[2020-03-15 18:47] johntharian commented on #18
I am a gsoc aspirant.
So, may I  solve this issue @aashimgarg

[2020-03-15 19:30] aashimgarg commented on #18
Yes @johntharian

[2020-03-16 13:17] jobara commented on #15
@johntharian I'd hold off on work on this specific issue. I'm not really sure what the bug or feature request is, so it may need more discussion and/or review.

[2020-03-16 13:34] jobara commented on #18
@aashimgarg and @johntharian I'm not sure that we need to include this level of information into the readme. I think working with git is probably a reasonable pre-requisite. Perhaps there should be a contributor guide added for some of the project governance type issues, but that will need to be determine more closely with the maintainers.

[2020-03-19 07:28] akhillllldev opened #44 "Open In New Tab doesn't work"
Isn't this symbol supposed to be - "Open in new tab"?

## Screenshots
![Screenshot from 2020-03-19 12-56-36](https://user-images.githubusercontent.com/40662846/77042187-41c1cf00-69e1-11ea-8eb6-8efa86183fd7.png)

[2020-03-19 13:01] jobara commented on #44
@akhillllldev it's being used to identify that it is an external link, one that will go to a new site. Also please add more detail and description to the Issues. It's hard for those that cannot view/perceive the image to understand what the issue is. Also a link to the specific page would be helpful.

[2020-03-19 13:02] #44 closed

[2020-03-21 05:16] samagragupta opened #47 "background color of the text"
The background color of the text should be transparent.
As it would look good.
![Capture](https://user-images.githubusercontent.com/32234926/77219991-444b3280-6b61-11ea-9098-fed815f5419b.JPG)

[2020-03-23 12:31] sachin10101998 commented on #47
@samagragupta please follow the described issue template while you report an issue. Also, make sure that you provide description when you post an image so that to make sure that people who can't visualize these images understand what you are trying to say. From the image, I guess you are trying to point to https://fluidproject.org/projects.html page. It has been kept this way on purpose so that te

[2020-03-23 15:34] Ayush23Dash opened #52 "The problems in PR #35"
## Describe the bug
The PR <a href="https://github.com/fluid-project/fluidproject.org/pull/35">#35</a> has some problems with the anchor tag.

### To reproduce
Steps to reproduce the behavior:
1. Go to home page of fluid project
2. Change the contrast
3. The images disapperar but <a href="https://github.com/fluid-project/fluidproject.org/pull/35">#35</a> has got it covered.
But a slight UI error s

[2020-03-24 11:40] sachin10101998 commented on #52
@Ayush23Dash #35 hasn't been merged and I guess it won't be merged either. Will this issue exist if #35 is not taken into account?

[2020-03-24 12:57] Ayush23Dash commented on #52
@sachin10101998  This issue won't exist if <a href ="https://github.com/fluid-project/fluidproject.org/pull/35">#35</a> is not merged.But I do not understand the point in making the images disappear on changing the contrast. I believe this should be taken care of.

[2020-03-24 13:34] sachin10101998 commented on #52
@Ayush23Dash check the discussion on #29

[2020-04-03 15:26] Ayush23Dash commented on #26
@jobara I was working on this and did not find much changes to be applied  other than adding the meta tag.The major change that is required is in the UI Options adjustments. For example, if I increase the font size then the complete page becomes messy and does not remain responsive. Adding the sample screenshot(When font size = 1.7)
![fluid](https://user-images.githubusercontent.com/40827680/78377

[2020-04-03 21:12] AbdullahiAbdulkabir commented on #18
Yes thanks for clarifying @jobara @sachin10101998. In some open source contributions they use --sign-off command is this not also applicable here. I can see there is an agreement we are filling while contributing does that suffice for the T&C?

[2020-04-06 12:21] jobara commented on #18
@AbdullahiAbdulkabir At the moment you need to digitally sign the CLA

[2020-04-06 12:36] jobara commented on #26
@Ayush23Dash the site will be redesigned at the same time as that GSoC project for migrating the static site generator. It probably doesn't make sense to worry about too many specific issues with the current site at the moment.

[2020-04-06 13:49] Ayush23Dash commented on #26
@jobara okay,I will be considering that from now.Thanks

[2020-04-12 21:15] nurulhassan opened #54 "fixing the text slider for mobile view"
The text slider is not responsive. it should be optimized for mobile view .
![phoneview](https://user-images.githubusercontent.com/33507767/79080098-c7ab0e80-7d30-11ea-8547-7a78cc4769a2.PNG)

[2020-04-13 18:30] Ayush23Dash commented on #54
@nurulhassan these UI changes are something that are going to be a part of the GSoC project. Moreover you can check out some of the dev releases of Infusion from <a href="https://www.npmjs.com/package/infusion">here</a>.

[2020-04-21 16:43] nurulhassan commented on #28
@Chaitanyassr  Can u please elaborate this issue? i can`t see any problem related to this.

[2020-04-21 16:46] nurulhassan commented on #54
okk @Ayush23Dash

[2020-04-21 17:06] nurulhassan opened #55 "improving the visibility of navbar active tag"
The navbar tag element ui can be optimized so that the active tag can be visible to the user and also it also matches with the website theme. @jobara  if it looks good then it can be improved according to your point of view.

## Describe alternative solutions you've considered
the current active hover color can be changed to the current theme as it will match the current website theme.
Current nav

[2020-04-21 19:08] Chaitanyassr commented on #28
Please follow the "To reproduce" steps to see the problem.

[2020-04-22 05:37] nurulhassan commented on #55
@jhung please have a look on this.

[2020-04-27 12:56] jobara commented on #55
@nurulhassan we're planning to redesign this site soon. We can consider this issue along with that  redesign process, but it likely isn't something we'll be looking at until then.

[2020-04-28 05:19] nurulhassan commented on #55
our first priority is to migrate our website to some static site using
static site generator.

On Mon, 27 Apr 2020 at 6:26 PM, Justin Obara <notifications@github.com>
wrote:

[2020-04-28 16:32] nurulhassan commented on #55
Sir, I think it will be good if we use CI/CD method at the time of
Migrating the Floe and fluid website through static site generator(Hugo,
etc) and will also help us to optimise the UI of the website at the same
time.

On Mon, 27 Apr 2020 at 6:26 PM, Justin Obara <notifications@github.com>
wrote:

[2020-05-02 09:21] AbdullahiAbdulkabir commented on #38
I was about to say that you can adjust the text of the website, just found out that the navbar isn't adjusting alongside, meanwhile it a good idea
![image](https://user-images.githubusercontent.com/33360580/80860140-bed99880-8c5d-11ea-9fa2-9af6677ef165.png)

[2020-06-01 17:47] gtirloni opened #57 "Add analytics tracking code"
Add this code to the <head></head> section:

[code]

[2020-06-11 14:52] jobara opened #59 "Link to Privacy Policy"
## Is your feature request related to a problem?
There is no direct link to the Privacy Policy.

## Describe the solution you'd like

We should add a link to the [Privacy Policy](https://wiki.fluidproject.org/display/fluid/Privacy+Policy), probably in the footer.

[2020-06-11 14:55] #57 closed

[2020-07-30 14:43] cggvuhh commented on #59
Can anyone tell that is inclusion design institute organisation applying for  2021gsoc

@jobara @avtar @cindlyi

[2020-07-30 14:48] cggvuhh commented on #55
Can anyone tell that is inclusion design institute organisation applying for  2021gsoc

@jobara @avtar @cindlyi

[2020-07-30 14:49] cggvuhh commented on #32
Can anyone tell that is inclusion design institute organisation applying for  2021gsoc

@jobara @avtar @cindlyi

[2020-07-30 14:58] colinbdclark commented on #32
Hi @cggvuhh. It's not appropriate to use Github Issues to ask questions like this, especially since you've posted the same message multiple times to a number of different issues. The short answer: we don't know if we will apply for GSOC in 2021.

If you are interested in contributing to our community, please have a look at [the resources we created for GSoC students](https://wiki.fluidproject.org/

[2020-07-30 15:21] cggvuhh commented on #59
Plz reply @jobara

[2020-07-30 15:23] jobara commented on #59
@cggvuhh please see @colinbdclark's reply to you on the other issue https://github.com/fluid-project/fluidproject.org/issues/32#issuecomment-666427433

[2020-07-30 15:43] cggvuhh commented on #32
@colinbdclark I ask because I see your gsoc selection process
Inclusion design institute select in
------2016
Then
------2018
Then
------2020
It means 2022 not in 2021 that's why I asking

[2020-07-31 04:01] cggvuhh commented on #32
Plz reply @jobara

[2020-07-31 04:15] colinbdclark commented on #32
@cggvuhh, I've already responded to your question. We simply don't know if we'll apply next year, nor do we know if we will be accepted. This is not the appropriate place to ask the questions you are asking, please stop. You can refer to the resources I shared with you above if you're interested in contributing to our community constructively.

[2020-08-07 08:13] #32 closed

[2020-08-24 18:39] jhung opened #61 "`cleanall` script fails on Windows"
## Describe the bug

Depends on #56 . Running the `npm run cleanall` script on Windows fails and throws an error. See stack trace below:

### To reproduce
Steps to reproduce the behavior:
1. Check out this project
2. Run `npm i`, and then `npm run build`
3. Then run `npm run cleanall`
4. An error occurs.

## Stacktrace

[code]

## Technical details

### Desktop
 - OS: Windows 10

[2020-08-28 07:00] Amulya-coder commented on #30
@jobara I want to contribute on this issue

[2020-08-28 08:57] #30 closed

[2020-08-28 08:57] #21 closed

[2020-10-26 13:47] jobara opened #69 "Update references pointing at the "master" branch to now point at "main""
## Describe the bug

Now that we've updated the default branch name to "main" from "master" we need to update CI and other references to point at "main" instead.

### Expected behavior

CI should run on pushes and PRs to the "main" branch. Other references to master should be replaced to main as needed.

[2020-10-27 14:14] #69 closed

[2020-11-01 23:47] gtirloni opened #71 "netlify-plugin-checklinks fragment check errors"
## Describe the bug

Netlify's check-links plugin is complaining about this in many files:

[code]

The fragment seems to be located in `src/_includes/partials/header.html`

## Screenshots
https://app.netlify.com/sites/fluid-fluidproject-org/deploys/5f9f4681dc2f17e6f931ba98

[2020-11-02 12:47] greatislander commented on #71
The issue is that the skip to content link is trying to link to an ID that doesn't exist on the page. I'm opening a PR to address.

[2020-11-03 14:04] jobara opened #73 "linting fails due to missing dependency for eslint-config-fluid"
## Describe the bug

The [.eslintrc.json file extends `eslint-config-fluid`](https://github.com/fluid-project/fluidproject.org/blob/f0301ed1f2b8d2b07ef5efd5277343b48d201b4f/.eslintrc.json#L2); however, it isn't included as a dependency so is not available to use.

### To reproduce

Steps to reproduce the behavior:
1. from the terminal run `npm install`
2. run `npm run lint`
3. Notice that warning:

[2020-11-03 14:09] #71 closed

[2020-11-03 15:44] greatislander commented on #73
Weird. I looked back through the history and appears that this dependency was removed during the Eleventy conversion: https://github.com/fluid-project/fluidproject.org/commit/1b738cd46fb633d2fdca2eef67329a48e3d86815#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519

[2020-11-10 17:37] #61 closed

[2021-01-11 16:00] Grumpyyash commented on #59
Is this issue #59 still open to work upon? @jobara

[2021-02-17 12:57] ArpitBirSingh commented on #59
@jobara is this issue is still open.
Can i work on this ??

[2021-02-17 13:19] ArpitBirSingh commented on #59
![Untitled](https://user-images.githubusercontent.com/66256902/108209809-bdc41a00-7150-11eb-9a5e-3f2103c1b64f.png)

is this ok so i made a pull request ??
@jobara please tell me

[2021-02-17 13:44] ArpitBirSingh commented on #15
![Untitled](https://user-images.githubusercontent.com/66256902/108212590-12b55f80-7154-11eb-9be3-3d3c846dfd12.png)
@jobara Is this ok ??
can i make pull request for this ??

[2021-02-17 14:22] jobara commented on #15
@ArpitBirSingh I'd probably hold off. This site is due to be redesigned so things will likely change.

[2021-02-17 14:22] jobara commented on #59
@ArpitBirSingh I'd probably hold off. This site is due to be redesigned so things will likely change.

[2021-02-20 09:56] cggvuhh commented on #73
anyone tell me if this organization apply for GSoC 2021

[2021-02-20 11:24] gtirloni commented on #73
We are not applying for GSoC this year.

[2022-02-01 10:34] Proeditor07 commented on #73
And now this year GSOC 2022 are you applying?

[2022-03-22 15:22] jobara opened #78 "Add Infusion tea mug drawing to the Infusion page"
## Is your feature request related to a problem?

@dayotte has created a new image and a mock up of adding it to the [Infusion](https://fluidproject.org/infusion.html) page.

## Additional context or notes

Mock up:
![Infusion page 2-07](https://user-images.githubusercontent.com/556024/159517089-c7937f14-cb17-45a6-bc64-99c96bda6e8f.png)

### Images
![Infusion Mug Final-05](https://user-images.gith

[2022-03-23 18:09] jobara commented on #78
In the current version of the site, the fluid branding is the `h1`. I'll need to use something specific to the pages for the `h1` to satisfy the mock up designs

[2022-03-23 18:51] #78 closed

[2022-03-24 16:58] jobara opened #80 "remove dark circle from Infusion mug"
## Describe the bug

We're not exactly sure where it came from, but there's a dark circle on the Infusion Mug drawing that shouldn't be there.

### To reproduce
Steps to reproduce the behavior:
1. Go to the [Infusion](https://fluidproject.org/infusion.html) page

## Screenshots
If applicable, add screenshots to help explain your problem.

<img width="545" alt="Screenshot of Infusion page with the

[2022-03-24 19:33] #80 closed

[2022-08-11 12:10] Aarize29 commented on #47
May I contribute?